body{
    margin: 0; 
    font-family: sans-serif;
    font-weight: 400;
}

.container {
    width: 80%; 
    margin: 0 auto; 
}

header {
    background: #55d6aa; 

}

nav ul {
    margin: 0; 
    padding: 0; 
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    position:relative; 
}

nav a {
    color: #000; 
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #fff; 
}

nav a::before {
    content: ''; 
    display: block; 
    height: 5px; 
    width: 0%; 
    background-color: #444;
    position:absolute; 
    top: 0; 
    transition: all ease-in-out 250ms; 
}

nav a:hover::before {
    width: 100%; 
}

body, html {
    height: 100%;
}
  

.bg {
    /* The image used */
    background-image: url("images/IMG_7613.JPG");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1; 
}